snippet ro5 Rule of 5
    #ifndef KZ_${2}_HPP
    #define KZ_${2}_HPP

    class ${1}
    {
    public:
       explicit ${1}() = default;
       virtual ~${1}() = default;

       ${1}(const ${1}&) = delete;
       ${1}(${1}&&) noexcept = delete;

       ${1}& operator=(const ${1}&) = delete;
       ${1}& operator=(${1}&&) noexcept = delete;
    };
    #endif
