* {
    font-family: Fira Code Nerd Font Mono, monospace;
    font-size: 20px;
}

window#waybar {
    background-color: #6a9589;
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #16161d;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -2px #dcd7ba;
}

#workspaces button {
    padding: 0 5px;
    color: #dcd7ba;
    background-color: #16161d;
    box-shadow: inset 0 -2px #6a9589;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0px #6a9589;
}

#workspaces button.focused {
    color: #dcd7ba;
    box-shadow: inset 0 -2px #dcd7ba;
}

#workspaces button.empty {
    color: #dcd7ba;
    background-color: #16161d;
    box-shadow: inset 0 0px #6a9589;
}

#workspaces button.urgent {
    color: #dcd7ba;
    background-color: #16161d;
    box-shadow: inset 0 0px #6a9589;
}

#workspaces button.active {
    color: #dcd7ba;
    background-color: #16161d;
    box-shadow: inset 0 -2px #dcd7ba;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#language,
#mpd {
    color: #dcd7ba;
    background-color: #16161d;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

