bar:
  height: 52
  location: top
  background: 282828ff
  font: Fira Code Nerd Font Mono:size=30

  right:
    - clock:
        content:
          - string: {text: ïƒ}
          - string: {text: "{date}", right-margin: 5}
          - string: {text: ï€—}
          - string: {text: "{time}"}
    - dwl:
        number-of-tags: 9
        dwl-info-filename: "~/.cache/dwltags"
        content:
          list:
            items:
              - map:
                  conditions:
                    selected: {string: {text: "-> {id}"}}
                    ~empty: {string: {text: "{id}"}}
                    urgent: {string: {text: "=> {id} <="}}
                    # default tag
                    id == 0: {string: {text: "{layout} {title}"}}

